Merge accuplacer code/profile

In [1]:
import pandas as pd 
from datetime import datetime

In [2]:
df = pd.read_csv('FALL 2021 Placement Freshmen list post ACCUPLACER_june29.csv')

In [3]:
df.head()

,Applicant,Appl First Name,Appl Last Name,Gender,College,Becton Program group,Testing Status,Birthdate,Academic Program,Major Desc.,...,X Appl Camporg Desc,HS}GPA,Addr Line 1,City,State,Zip,Orientation Date,Initial Email outreach,Voucher No,Branching Profile
0,2002077,Robert,Abril,M,Silberman,non-stem,High Exempt,2002-11-14,BUAD4.MAD,Business Administration,...,NaN,2.220,444 Mount Prospect Ave Apt 516,Newark,NJ,07104-2925,NaN,6/29/21,NaN,NaN
1,2001119,Laila,Gallo,F,Not Silberman,non-stem,Required(No score),2001-05-05,NCED2.MAD,Exploring Education,...,NaN,"3.310, 4.000, , 4.000",36 New England Rd,Maplewood,NJ,07040-1057,NaN,5/4/2021,EI-HPH5FM4T,* Reading and Math 2021
2,1979093,Ty-Ajah,Johnson,F,Not Silberman,non-stem,Exempt,2002-10-16,HTIE5.MAD,Hosp & Tour Innov and Excel,...,NaN,"3.980, 3.500",217 W Market St Apt 2B,Newark,NJ,07103-2732,"Wednesday, July 14",5/4/2021,NaN,NaN
3,1988029,Kasey,Olechowski,F,Not Silberman,Stem,Required(No score),2002-03-04,HLTH3.MAD,Health Studies,...,NaN,3.190,39 Coventry Way,Ringwood,NJ,07456-2747,"Monday, June 14 (Virtual)",4/5/2021,NaN,NaN
4,1970935,Thomas (Jacob),Sanders,M,Silberman,non-stem,Required,2001-01-29,MGMT4.LEAD.MAD,Business Management,...,NaN,2.880,131 Dunellen Ave,Dunellen,NJ,08812-1229,"Wednesday, June 23",5/4/2021,NaN,NaN

# Students check

## Check for students who are required to test but submitted score or change in major

In [4]:
df_copy=df.copy()

In [5]:
pd.to_datetime(df_copy['Crnt Status Date'])
#  pd.to_datetime(df_new['Crnt Status Date'], format='%m/%d/%Y')

0     2021-06-29
1     2021-06-28
2     2021-06-28
3     2021-06-28
4     2021-06-28
         ...
495   2020-12-21
496   2020-12-18
497   2020-12-18
498   2020-12-16
499   2020-12-14
Name: Crnt Status Date, Length: 500, dtype: datetime64[ns]

## Students who are initially required to test math but change of status

In [6]:

exempt_status = ['High Exempt','Low Exempt','Exempt']
filter1 = df_copy.loc[(df_copy['Testing Status'].isin(exempt_status) & 
                            (df_copy['Branching Profile']=='* Reading and Math 2021'))]

filter1[['Applicant','Appl First Name','Appl Last Name',
          'Academic Program','Major Desc.','Testing Status','Crnt Status Date',
         'X Appl Satmr List ','Fdu Actm ','Branching Profile']]

Empty DataFrame
Columns: [Applicant, Appl First Name, Appl Last Name, Academic Program, Major Desc., Testing Status, Crnt Status Date, X Appl Satmr List , Fdu Actm , Branching Profile]
Index: []

## Students who were initially required to test Reading only but now Math as well

In [7]:

filter2 = df_copy.loc[(~df_copy['Testing Status'].isin(exempt_status) & 
                            (df_copy['Branching Profile']=='* Reading Comprehension 2021'))]

filter2[['Applicant','Appl First Name','Appl Last Name',
          'Academic Program','Major Desc.','Testing Status','Crnt Status Date',
         'X Appl Satmr List ','Fdu Actm ','Branching Profile']].set_index('Applicant')

Empty DataFrame
Columns: [Appl First Name, Appl Last Name, Academic Program, Major Desc., Testing Status, Crnt Status Date, X Appl Satmr List , Fdu Actm , Branching Profile]
Index: []

# Examity Merge scheduled students

In [8]:
df_examity = pd.read_csv('examity.csv',encoding= 'unicode_escape')
df_examity.rename(columns={'Student First Name':'Appl First Name','Student Last Name':'Appl Last Name','Status':'Placement assessment status'},inplace=True)
df_examity['Appl First Name'] = df_examity['Appl First Name'].str.title()
df_examity['Appl Last Name'] = df_examity['Appl Last Name'].str.title()
df = pd.merge(df, df_examity[['Appl First Name','Appl Last Name','Appointment Date [EST]','Placement assessment status']], on =['Appl First Name','Appl Last Name'],how='left')

In [9]:
# df.loc[df['Placement assessment status']=='Scheduled']

In [10]:
#  df.info()

# Students check

## Students who are required to take math but havent

In [11]:
required_test = ['Required(No score)','Required']
df.loc[(df['Testing Status'].isin(required_test)) & #students who are required to test for math
       (df['Fdu Mqas '].isna()) & #no math scores or scheduled
       (df['Placement assessment status'].isna()),'Placement assessment status'] = 'Incomplete'

## Students whoare required to do reading only but havent

In [12]:
Exempt = ['High Exempt','Low Exempt']
df.loc[(df['Testing Status'].isin(Exempt)) & #students who are required to test for reading
       (df['Xappl Fdu Mread Score '].isna()) & #no reading scores or scheduled
       (df['Placement assessment status'].isna()),'Placement assessment status'] = 'Incomplete'

## Students who are required to do reading and math but did only reading

In [13]:
required_test = ['Required(No score)','Required']
df.loc[(df['Testing Status'].isin(required_test)) & #students who are required to test for math
       (df['Fdu Mqas '].isna()) & #no math scores or scheduled
       (df['Xappl Fdu Mread Score '].notnull()),'Placement assessment status'] = 'Math Pending'

In [14]:
df.loc[df['Placement assessment status']=='Math Pending']

Empty DataFrame
Columns: [Applicant, Appl First Name, Appl Last Name, Gender, College, Becton Program group, Testing Status, Birthdate, Academic Program, Major Desc., Current Status, Crnt Status Date, Admit Status, Housing Desired Flag, X Nn Res Flag Desc , X Es Home Phone , Link to Person STU CELL NO, Link to Person X Per Cell Ph, Int Email, FDU E-Mail Address, X Appl Satvr List , X Appl Satmr List , X Appl Tot Sat , ACTC SCORE, Fdu Actm , Fdu Actr , Fdu Acts , Fdu Acte , Fdu Mqas , Xappl First Mqas Date , Fdu Maaf , Xappl First Maaf Date , Fdu Mqas2 , Xappl Second Mqas Date , Fdu Maaf2 , Xappl Second Maaf Date , Xappl Fdu Mread Score , Xappl First Mread Date , SP SERV, X App Misc1 , X Appl Camporg Desc , HS}GPA, Addr Line 1, City, State, Zip, Orientation Date, Initial Email outreach, Voucher No, Branching Profile, Appointment Date [EST], Placement assessment status]
Index: []

[0 rows x 52 columns]

## Voucher check

In [15]:
df.loc[(df['Testing Status'].isin(required_test)) & #students who are required to test for math
       (df['Branching Profile']!= '* Reading and Math 2021')&
      (df['Branching Profile'].notnull())] #no math scores or scheduled

Empty DataFrame
Columns: [Applicant, Appl First Name, Appl Last Name, Gender, College, Becton Program group, Testing Status, Birthdate, Academic Program, Major Desc., Current Status, Crnt Status Date, Admit Status, Housing Desired Flag, X Nn Res Flag Desc , X Es Home Phone , Link to Person STU CELL NO, Link to Person X Per Cell Ph, Int Email, FDU E-Mail Address, X Appl Satvr List , X Appl Satmr List , X Appl Tot Sat , ACTC SCORE, Fdu Actm , Fdu Actr , Fdu Acts , Fdu Acte , Fdu Mqas , Xappl First Mqas Date , Fdu Maaf , Xappl First Maaf Date , Fdu Mqas2 , Xappl Second Mqas Date , Fdu Maaf2 , Xappl Second Maaf Date , Xappl Fdu Mread Score , Xappl First Mread Date , SP SERV, X App Misc1 , X Appl Camporg Desc , HS}GPA, Addr Line 1, City, State, Zip, Orientation Date, Initial Email outreach, Voucher No, Branching Profile, Appointment Date [EST], Placement assessment status]
Index: []

[0 rows x 52 columns]

In [16]:
df.loc[(df['Testing Status'].isin(Exempt)) & #students who are exempt from math
       (df['Branching Profile']!= '* Reading Comprehension 2021')&
      (df['Branching Profile'].notnull())] #no math scores or scheduled

Empty DataFrame
Columns: [Applicant, Appl First Name, Appl Last Name, Gender, College, Becton Program group, Testing Status, Birthdate, Academic Program, Major Desc., Current Status, Crnt Status Date, Admit Status, Housing Desired Flag, X Nn Res Flag Desc , X Es Home Phone , Link to Person STU CELL NO, Link to Person X Per Cell Ph, Int Email, FDU E-Mail Address, X Appl Satvr List , X Appl Satmr List , X Appl Tot Sat , ACTC SCORE, Fdu Actm , Fdu Actr , Fdu Acts , Fdu Acte , Fdu Mqas , Xappl First Mqas Date , Fdu Maaf , Xappl First Maaf Date , Fdu Mqas2 , Xappl Second Mqas Date , Fdu Maaf2 , Xappl Second Maaf Date , Xappl Fdu Mread Score , Xappl First Mread Date , SP SERV, X App Misc1 , X Appl Camporg Desc , HS}GPA, Addr Line 1, City, State, Zip, Orientation Date, Initial Email outreach, Voucher No, Branching Profile, Appointment Date [EST], Placement assessment status]
Index: []

[0 rows x 52 columns]

## STudents who have completed the assessment

In [17]:
df['Placement assessment status'].fillna('Completed',inplace = True)

## Check to see if any students dont have a testing status

In [18]:
df['Testing Status'].isna().sum()

0

In [19]:
df['Placement assessment status'].value_counts()

Completed     470
Incomplete     29
Scheduled       1
Name: Placement assessment status, dtype: int64

## STudents who have completed but not video review pending

In [20]:
# students who are marked incomplete
incomplete_list = list(df.loc[df['Placement assessment status']=='Incomplete']['Applicant'])

In [21]:
#Accuplacer report of completed students
df_Accuplacer_completed = pd.read_csv('Accuplacer_completed.csv')
df_Accuplacer_completed.rename(columns={'Student ID':'Applicant'},inplace=True)
Accuplacer_completed_list = df_Accuplacer_completed['Applicant']
len(set(Accuplacer_completed_list))

488

In [22]:
df_No_score_applicant = df_Accuplacer_completed.loc[df_Accuplacer_completed['Next-Generation Reading'].isna() &
                           df_Accuplacer_completed['Next-Generation Quantitative Reasoning, Algebra, and Statistics'].isna()&
                           df_Accuplacer_completed['Next-Generation Advanced Algebra and Functions'].isna()]
df_No_score_applicant.head()

,Applicant,Birth Date,Exnum,First Name,Last Name,Proctor Name,Next-Generation Reading,"Next-Generation Quantitative Reasoning, Algebra, and Statistics",Next-Generation Advanced Algebra and Functions,Test End,Unnamed: 10
0,123457,01-01-1998,37832593,Sachin,Naik,Lisa Martini,NaN,NaN,NaN,06-04-2021,NaN
1,1341567,01-01-1999,37868717,Lauren,Mazur,Darshan Shah,NaN,NaN,NaN,06-10-2021,NaN
226,1988292,04-04-2003,37642864,Brian,McGovern,Lisa Martini,NaN,NaN,NaN,05-09-2021,NaN
423,1990178,12-10-2002,37881211,Naia,McGinn,Lisa Martini,NaN,NaN,NaN,06-14-2021,NaN

In [23]:
No_score_applicants_list = list(df_No_score_applicant['Applicant'])
len(No_score_applicants_list)

4

In [24]:
Accuplacer_completed_list = list (set(Accuplacer_completed_list) - set(No_score_applicants_list))
len(Accuplacer_completed_list)

484

In [25]:
Pending_list = list(set(Accuplacer_completed_list) & set(incomplete_list))
len(Pending_list)

1

In [26]:
df.loc[df['Applicant'].isin(Pending_list),'Placement assessment status'] = 'Pending'

In [27]:
df['Placement assessment status'].value_counts()

Completed     470
Incomplete     28
Pending         1
Scheduled       1
Name: Placement assessment status, dtype: int64

In [28]:
df.to_csv('FALL 2021 Placement Freshmen list post ACCUPLACERexamity_june29.csv',index =False)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Applicant                     500 non-null    int64
 1   Appl First Name               500 non-null    object
 2   Appl Last Name                500 non-null    object
 3   Gender                        500 non-null    object
 4   College                       500 non-null    object
 5   Becton Program group          500 non-null    object
 6   Testing Status                500 non-null    object
 7   Birthdate                     500 non-null    object
 8   Academic Program              500 non-null    object
 9   Major Desc.                   500 non-null    object
 10  Current Status                500 non-null    object
 11  Crnt Status Date              500 non-null    object
 12  Admit Status                  500 non-null    object
 13  Housing Desired Flag          500 non-null    object
 14  X Nn Res Flag Desc            500 non-null    object
 15  X Es Home Phone               341 non-null    object
 16  Link to Person STU CELL NO    500 non-null    object
 17  Link to Person X Per Cell Ph  424 non-null    object
 18  Int Email                     499 non-null    object
 19  FDU E-Mail Address            500 non-null    object
 20  X Appl Satvr List             500 non-null    int64
 21  X Appl Satmr List             500 non-null    int64
 22  X Appl Tot Sat                500 non-null    int64
 23  ACTC SCORE                    11 non-null     float64
 24  Fdu Actm                      500 non-null    float64
 25  Fdu Actr                      11 non-null     float64
 26  Fdu Acts                      10 non-null     float64
 27  Fdu Acte                      10 non-null     float64
 28  Fdu Mqas                      396 non-null    float64
 29  Xappl First Mqas Date         396 non-null    object
 30  Fdu Maaf                      130 non-null    float64
 31  Xappl First Maaf Date         130 non-null    object
 32  Fdu Mqas2                     0 non-null      float64
 33  Xappl Second Mqas Date        0 non-null      float64
 34  Fdu Maaf2                     0 non-null      float64
 35  Xappl Second Maaf Date        0 non-null      float64
 36  Xappl Fdu Mread Score         466 non-null    float64
 37  Xappl First Mread Date        466 non-null    object
 38  SP SERV                       60 non-null     object
 39  X App Misc1                   66 non-null     object
 40  X Appl Camporg Desc           55 non-null     object
 41  HS}GPA                        500 non-null    object
 42  Addr Line 1                   500 non-null    object
 43  City                          500 non-null    object
 44  State                         499 non-null    object
 45  Zip                           499 non-null    object
 46  Orientation Date              373 non-null    object
 47  Initial Email outreach        500 non-null    object
 48  Voucher No                    29 non-null     object
 49  Branching Profile             29 non-null     object
 50  Appointment Date [EST]        1 non-null      object
 51  Placement assessment status   500 non-null    object
dtypes: float64(12), int64(4), object(36)
memory usage: 207.0+ KB